.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

.out {
  width: 100%;
  flex-grow: 3;
  background: gray;
  color: greenyellow;
  text-align: left;
  padding: 0.5rem;
}