
.editor {
  margin-top: 3rem;
}
.row {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.button {
  padding: 5px 10px;
  background: #045;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
.title {
  margin: 0.5rem 0 0;
  text-align: center;
}
.buttons{

  display: flex;
  justify-content: space-between;
}
.body{
  display: flex;
  overflow: hidden;
}
.editorNavigation{
  width: 33%;
}
.docs{
  margin-right: -18%;
  flex-basis: 0;
  overflow: hidden;
  transform: scaleX(0);
}
