
.editor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
  transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  max-width: 593px;
  // height: 100%;
}

.button {
  padding: 5px 10px;
  min-width: 110px;
  max-height: 30px;
  background: #045;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.nonActiveButton, .activeButton {
  padding: 5px 10px;
  min-width: 110px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.nonActiveButton{
  color: #045;
  border: 2px solid #045;
}

.activeButton {
  background: #045;
  color: #fff;
}

.input_main {
  min-height: 70px;
  flex-grow: 3;
}

.input_disabled {
  display: none;
}

.title {
  margin: 0.5rem 0 0;
  text-align: center;
  background-color: #020e1f;
  color: #fff;
  margin-top: 0;
}

.buttons{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.body{
  display: flex;
  overflow: hidden;
  min-height: 490px;
  flex: 1 1 auto;
}
.editorNavigation{
  width: 33%;
}
.docs{
  margin-right: -18%;
  flex-basis: 0;
  overflow: hidden;
  transform: scaleX(0);
  display: none;
}
.additional{
  position: relative;
  display: flex;
  flex-direction: column;
  &__buttons{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  &__showBtn{
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border:none;
  }
  &__codemirrors{
    transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
  }
}
.span{
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #045;
  transition: all 0.3s ease;
}

@media (max-width:768px){
  .title{
    font-size: 14px;
    font-weight: 400;
  }
  .additional{
    &__showBtn{
      // display: none;
    }
  }
  .nonActiveButton, .activeButton{
    font-size: 12px;
    padding: 2px 5px;
    min-width: auto;
    flex: 1 1 auto;
  }
  .button {
    font-size: 12px;
    padding: 2px 5px;
    max-height: 20.8px;
  }
  .body{
    flex-wrap: wrap;
  }
  .row{
    max-width: none;
    min-width: 380px;
    // flex: 0 0 auto;
  }
  .row:nth-child(1){
    order: 2;
  }
  .row:nth-child(2){
    order:3;
  }
  .row:nth-child(3){
    order:1;
  }
}
@media(max-width:500px){
  .row{
    min-width: 300px;
  }
}