.header {
  left: 0;
  width: 100%;
  margin-bottom: 10px;
  &__container{

  }
  &__navigation{

  }
  &__list{
    
  }
  &__lang{

  }
  &__user{

  }
}
.navLink {
  color: rgb(133, 133, 133);
  &:hover {
    color: #717171;
  }
}
.activeLink {
  color: #0acc00;
  &:hover {
    color: #04ec17;
  }
  
}
