.header {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: rgb(155, 157, 155);
  position: sticky;
  left:0;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__navigation{
    flex: 1 1 auto;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  &__item{

  }
  &__lang{
    max-width: 24px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    order:2;
  }
  &__langs{
    display: flex;
  }
  &__langsBox{
    display: flex;
    gap: 5px;
    background-color: #c6c6c6;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 2px;
    box-sizing: border-box;
    margin-right: 10px;
    transition: all 0.3s ease;
    order: 1;
    opacity: 0;
  }
  &__iconLang{
    cursor: pointer;
    width:24px;
    height: 24px;
    transition:all 0.3s ease;
    &:hover{
      transform: scale(1.1);
    }
  }
  &__user{
    order:3;
    display: flex;
    align-items: center;
  }
}

.navLink, .activeLink{
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  &:hover {
    color: #000940;
  }
}
.navLink {
  color: #fff;
}
.activeLink {
  color: #000940;
}
.active{
  background-color: rgb(110, 109, 109);
  padding: 5px 10px;
}
