$textColor: gold;
$greenColor: #24d12a;
.login {
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 00;
  width: 380px;
  flex-direction: column;
}

.text {
  color: $textColor;
}

.email,
.password,
.loginBtn,
.loginGoogle,
.forgotBtn,
.register,
.error {
  font-family: 'Chakra Petch', sans-serif;
  margin-top: 10px;
  font-size: 1rem;
  color: $greenColor;
  padding: 3px;
  border-radius: 5px;
}
.register {
  margin-right: 10px;
  margin-left: 10px;
}

.loginBtn,
.loginGoogle,
.forgotBtn,
.register {
  background: #000000a9;
}
